<div class="jumbotron">
  <h2>We are a team of experienced consultants who are passionate about finding innovative solutions to the world’s most pressing social problems.</h2>
  <p>Givv is here to help companies develop social impact strategies that are not just a feel-good appendage to their business, but a lived expression of their core values. </p>
  <div>
    <a class='btn btn-success' [routerLink]="['/register']">Sign me up!</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Mission-aligned Philanthropy</h3>
    <p>Our objective? Connecting conscious companies with vetted social causes through mission-aligned philanthropy.</p>
  </div>
  <div class="col-md-4">
    <h3>Data-driven Impact</h3>
    <p>With rigorous analysis that gets at the heart of what you, your employees, and your customers care about, together we form a high-impact giving strategy.</p>
  </div>
  <div class="col-md-4">
    <h3>Do Well by Doing Good</h3>
    <p>Companies not only unlock their potential as an engine for social good, but also experience a competitive advantage as a stand-out business, an increase in employee and customer loyalty, and ultimately an improvement in their bottom line. </p>
  </div>
</div>